[2018-10-03 10:25] lucianenache opened #33 "Add Ammonite to the candidates list."
Ammonite is a REPL for Scala, it would be nice to have it provided by sdkman .

link: http://ammonite.io/

I am not sure whether it is possible since only the source code can be retrieved as an archive:  https://github.com/lihaoyi/Ammonite/releases/

[2018-10-13 18:56] marc0der commented on #33
I've spoke to @lihaoyi about this before, but he expressed that he wasn't interested in having ammonite on sdkman, preferring people to install it manually.

Personally I think that's a shame, but there is nothing much I can do about this. Ammonite would need to be packaged in a zip or tarball just like all other SDKs (for example the JDK, Scala or SBT).

Perhaps if you took this discussion to the

[2018-10-16 07:05] lucianenache commented on #33
Hi @marc0der,

Thanks for the clarification, I will try and ask @lihaoyi in regards. Even though if it hasn't happened yet the chances that now it will would be rather slim, and probably there are some maintenance overhead reasons behind the choice.

[2019-01-20 19:33] rvprasad opened #57 ""./gradlew clean run" fails with exception due to changeset 47 and 52"
[code]

[2019-01-20 19:58] marc0der commented on #57
This is due to Oracle removing URLs. Quite easy to fix, simply remove the offending migrations. Feel free to raise a PR for that?

[2019-01-20 20:04] rvprasad commented on #57
I commented the offending migrations to test a PR.  Once the other PR is resolved, I will create a PR for this issue.

[2019-01-20 20:33] #57 closed

[2019-01-21 13:03] vpavic opened #62 "Consider changing suffix of ZuluFX candidates to `-zulufx` instead of `-fx-zulu`"
ZuluFX candidates were added in recently merged #53 - IMO candidate suffix should be changed to `-zulufx` instead of `-fx-zulu`, as this is both consistent with [Azul's naming](https://www.azul.com/downloads/zulu/zulufx/) and also reads better since it would provide more consistency between Zulu's candidates.

[2019-01-21 14:14] marc0der commented on #62
Sounds fair, we'll need to make some changes to accommodate it in the backend though.

[2019-01-21 18:42] marc0der commented on #62
I've made all the necessary changes and run a migration to remain them to `-zulufx`.

[2019-01-21 18:42] #62 closed

[2019-03-16 10:10] joschi opened #74 "Amazon Corretto 11.0.2 (GA)"
Amazon has release Corretto 11.0.2 (GA):
https://aws.amazon.com/about-aws/whats-new/2019/03/amazon-corretto-11-is-now-generally-available/

Due to the current naming scheme, I'm not sure how to add it to SDKMan, though.
The complete version specifier is "11.0.2.9.3" for the GA version and was "11.0.2.9.1" before. Unfortunately, SDKMan only covered the first 3 elements ("11.0.2"):
https://github.co

[2019-03-16 10:54] marc0der commented on #74
It's very unfortunate that Amazon have decided to disregard the standard versioning scheme adopted by everyone else (Major, Minor, Patch). It will break sdkman's sorting algorithm, so I would need to do some work in the backend prior to merging to accommodate this.

I'll let you know when I've completed the work.

[2019-03-16 11:58] joschi commented on #74
@marc0der Would something like "11.0.2ga-amzn" be working?

[2019-03-16 12:02] marc0der commented on #74
It wouldn't, because what happens if they do another release of 11.0.2.x (which is highly likely).

[2019-03-16 12:07] joschi commented on #74
@marc0der You're completely right. In this case, maybe something such as "11.0.2_3-amzn" would work? It's still within the 15 character length limit of SDKMan, if I remember correctly.

[2019-03-16 13:15] marc0der commented on #74
Nope, that's still not consistent with the rest. Like I said, I'll have to make some changes in the backend first. It would probably need to be `11.0.2.9.3-amzn`.

[2019-04-04 11:23] RichardWarburton opened #81 "Please add support for a JDK version that is compiled against the musl library"
For example - Azul's Zulu JDK offers musl builds - https://cdn.azul.com/zulu/bin/.

These are especially useful for people building reduced size docker images, eg running on Alpine.

[2019-04-04 22:09] marc0der commented on #81
Hi Richard,

We currently don't support all platforms, but if we have enough interest we
can certainly consider adding it.

Cheers,
Marco.

On Thu, 4 Apr 2019 at 12:23, Richard Warburton <notifications@github.com>
wrote:

--
Marco Vermeulen
+44 7757 510 608

[2019-04-12 13:02] cyparu opened #86 "Add kotlin-native as a new candidate"
With [Kotlin](https://kotlinlang.org) already available into SDKMan for long time (**sdk list kotlin**) and Kotlin/Native improving fast it will be great to be able to install it using SDKMan as well (**sdk install kotlin-native**).
Here are some relevat Kotlin/Native resources:
- https://kotlinlang.org/docs/tutorials/native/basic-kotlin-native-app.html#obtaining-the-compiler
- https://github.com/

[2019-05-09 20:29] wololock opened #109 "GraalVM 19.0.0 - what version tag should we use to avoid confusing SDKMAN users?"
Just a while ago, the first stable release of GraalVM Community Edition was released - https://github.com/oracle/graal/releases/tag/vm-19.0.0 It is numbered with version 19.0.0, which is quite confusing compared to the release candidates versioning schema. Another interesting fact is that it adds an early adopter windows support.

I open this ticket to ask you - what version tag for GraalVM CE 19.

[2019-05-10 08:41] wololock commented on #109
One more thing worth mentioning. Extracting GraalVM to a separate SDKMAN candidate may have more sense than keeping it under the `java` candidate. The thing is that GraalVM ships tools like `npm`, `node` or `js`.

[code]

When we switch to GraalVM Java distribution, we also override those binaries as a side effect. I experienced that before when I tried to use `hexo` in the terminal with `java:1.0

[2019-05-10 10:17] marc0der commented on #109
@wololock this is a tricky problem that we have been facing from the start. Adding GraalVM to the Java candidate was the easiest thing at the time. The main problem with creating it as a separate Candidate is that the `java` and `javac` of GraalVM would probably shadow the Java equivalents. It would result in all sorts of issues. Also, you probably need `JAVA_HOME` set for GraalVM to work properly

[2019-05-10 13:02] ilopmar commented on #109
I agree with Marco. At the end GraalVM is another Java version that you can use to compile and run your java apps *without* using native-image tool. I think it makes sense that include the new version just like we did we the previous release candidates.

As they explain here: https://medium.com/graalvm/announcing-graalvm-19-4590cf354df8:

There will be new versions at least per quarter + the bugfi

[2019-05-10 17:00] wololock commented on #109
You're right. Introducing GraalVM as a separate candidate could be confusing when defining a default `java` and `graalvm`. It seems to be more pragmatic to keep them together, especially that most people usually use a different JDK as a default one, and only switch to GraalVM when needed. The only question is - how to tag the new version? If we want to support GraalVM future beta releases, we need

[2019-05-10 19:18] marc0der commented on #109
The changes I will make to the backend will lift the 15 character restriction. I'll add an additional optional classifier for `vendor` to the version collection in the database. That will also allow us to `groupBy` the vendor when rendering the custom Java list view that I'll start working on next.

[2019-05-10 19:27] wololock commented on #109
Sounds good! :+1: Let us know if there is anything we can help you with.

[2019-05-10 21:56] ilopmar commented on #109
Sounds good! @wololock do you want to send the PR for the new version? It's just 15 characters so we're good at this moment.

[2019-05-11 06:50] wololock commented on #109
@ilopmar I made last 2 or 3 pull requests. It's your turn 😉

[2019-05-11 19:39] wololock commented on #109
Btw, Cedric posted this today - https://twitter.com/CedricChampeau/status/1127169184713068544 It seems like 19.0.0 release introduced some small breaking changes compared to 1.0.0-RC16. We can wait with the deletion of the remaining RCs until the next release or two.

[2019-05-13 08:54] ilopmar commented on #109
PR submitted: https://github.com/sdkman/sdkman-db-migrations/pull/111

[2019-05-14 09:54] #109 closed

[2019-06-17 10:46] ananni13 opened #121 "New Java view doesn't show local versions"
With the latest updates on improving candidates handling, the list view doesn't show local versions anymore, previously marked with "+". They are still usable but don't show up in the list.

Maybe it can be added at the end like another vendor?

[code]

[2019-06-17 11:47] #121 closed

[2019-06-17 16:47] marc0der commented on #121
It seems like a bug was introduced yes, the restriction here being that the local Java version needs to be added with a name suffix ending in a vendor identifier. At the moment, the supported vendor suffixes are `adpt`, `amzn`, `grl`, `librca`, `open`, `sapmchn`, `zulu` and `zulufx`. Could you try re-adding the version with one of these suffixes to see if it works? eg. `myversion-open`

[2019-07-03 06:10] rsvoboda opened #126 "Unable to install GraalVM CE 19.1.0 on macOS"
Unable to install GraalVM CE 19.1.0 on macOS (Mojave 10.14.5)
Works well on Linux machine ...

[code]

[2019-07-03 06:25] rsvoboda commented on #126
Hmm, Linux "works" as it installs binaries, but those binaries are for macOS :(

https://github.com/sdkman/sdkman-db-migrations/pull/125/files is wrong

[2019-07-03 06:27] rsvoboda commented on #126
Preparing PR

[2019-07-03 06:53] marc0der commented on #126
Also please use slack as per the contributor guidelines. Closing this issue as it is a data problem not a bug.

[2019-07-03 06:53] #126 closed

[2019-07-03 07:55] rsvoboda commented on #126
Ah, didn't notice contribution notes in https://github.com/sdkman/sdkman-db-migrations/blob/master/README.md

I guess you are referring to https://github.com/sdkman/sdkman-cli/blob/master/CONTRIBUTING.md

[2019-07-03 08:04] marc0der commented on #126
Looks like @ilopmar beat you!

[2019-07-03 08:23] rsvoboda commented on #126
yeah, np at all :)

Just a note - I had to run `sdk flush archives` on my Linux machine where macOS based binary was downloaded before the links fix. Otherwise you will see "Found a previously downloaded java 19.1.0-grl archive. Not downloading it again..."

[2019-07-23 08:47] joschi commented on #74
Issue is outdated as SDKMAN is distributing "11.0.3.j9-adpt" and "11.0.3.hs-adpt".

[2019-07-23 08:47] #74 closed

[2019-08-27 10:33] skydrome opened #151 "Azul Linux x86_32"
Can the 32bit linux builds of azul jdk 8/12 be added?

[2019-08-28 08:15] marc0der commented on #151
Yes, we can certainly add those. You can raise a PR to add those if you like.

[2019-10-23 16:10] podollb opened #170 "Maintain older versions"
It would be great if there was a way to get access to older versions (such that when coordinating a team to all use a specific JDK for example, using sdkman for installation, it makes it tough when old versions are no longer available). So, each time a new team member joins and/or a new laptop is used, we have to use the latest JDK available (of whatever flavor we are using), and if we all want to

[2019-11-17 01:45] mikiec84 commented on #81
__

[2019-11-17 01:46] mikiec84 commented on #81
Duplicate of # #
Duplicate of #

[2019-11-20 17:34] wololock opened #181 "GraalVM 19.3.0 with JDK 8 and JDK 11"
The GraalVM team just released [GraalVM CE 19.3.0](https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-19.3.0). Things are getting more complicated - it now delivers two different versions, one based on JDK 8, and one based on JDK 11. How should we name the tag to support both versions? I was thinking about something like:

* `19.3.0-jdk8-grl`
* `19.3.0-jdk11-grl`

But the second one is 1

[2019-11-20 17:43] marc0der commented on #181
The extra dash will break the algorithms so we probably need to make that a `.`.
How about we shorten the `jdk` portion and make it a `j` or something like that? So, `19.3.0.j8-grl` and `19.3.0.j11-grl`? Only problem is it might cause some confusion with the j9 variant of AdoptOpenJDK.

[2019-11-20 18:07] wololock commented on #181
Hmm, `j8` and `j11` do not sound very intuitive. I think most of us used to labels like `jdk8`, `jdk11`. And yes, it might be confusing when taking `j9`JDK into account :/ Maybe `19.3.0jdk11-grl` would do the trick? It misses separation between numeric version and JDK variant, and might not be the most convenient when writing, but I don't have any better idea atm.

[2019-11-20 20:26] rsvoboda commented on #181
Don't forget there was https://github.com/oracle/graal/releases/tag/vm-19.2.0.1 release
Something similar can happen to 19.3.0 or to any future release

I think the only way is to get rid of that 15 characters limit (although I don't know the details why it is there ...)

[2019-11-20 21:13] wololock commented on #181
That is the good point, @rsvoboda. The 15 character limit was reached for the first time one year ago, when we worked on adding GraalVM 1.0.0-RC10. Marco explained this limitation here - https://github.com/sdkman/sdkman-db-migrations/pull/50

I would definitely prefer using more than 15 characters, but only @marc0der knows possible side effects of such change.

[2019-11-20 21:34] marc0der commented on #181
The main reason for the 15 character limitation is due to the list view truncating on candidates _other_ than Java. In those cases, it leaves the user blind because they can't see what is available to install, which is very bad ux and imo not acceptable. This limitation has never been a problem on non-java candidates, until we introduced java with vendor suffix in the version which pushes it beyon

[2019-11-20 21:43] marc0der commented on #181
@rsvoboda the problem we are faced with here is not really how the version is formed, but more in the uniformity between vendor versions. Java is unique in that many JDK vendors have their own version scheme, which is a real pain.

This is why I introduced the current scheme based on the new standard [Java versioning scheme](https://openjdk.java.net/jeps/322). Of course, we are bending this to acc

[2019-11-21 08:32] ilopmar commented on #181
I was commenting this yesterday in the slack channel. One of my suggestions were `19.3.0-1.8-grl` and `19.3.0-1.11-grl` that may work for now but that won't work if/when they release  `19.3.0.1`.

I like @wololock's suggestion about using `19.3.0-jdk8-grl` and `19.3.0-jdk11-grl` but at this moment is not possible until @marc0der does the changes to separate the vendor because we reach the 15 chara

[2019-11-21 08:49] wololock commented on #181
Extracting vendor from the version sounds like the best option. I agree that we should release GraalVM 19.3.0 with some temporary version identifier that can be fixed when @marc0der finishes vendors feature. :+1: It want harm anyone if it uses `19.3.0.r11-grl` and `19.3.0.r8-grl` for a few days :sunglasses:

[2019-11-21 09:00] ilopmar commented on #181
Agreed! @marc0der if you are ok with @wololock's proposal we can send the PR to release the new versions.

[2019-11-21 14:10] marc0der commented on #181
That's perfect, let's do it!

[2019-11-21 14:17] wololock commented on #181
Pull request ready to review - https://github.com/sdkman/sdkman-db-migrations/pull/182

[2019-11-21 18:25] #181 closed

[2020-01-06 15:53] hammer opened #193 "Add parameters to Spark candidates"
Some pre-built Spark releases are built with support for different versions of Scala and/or Hadoop.

For example, there are 4 different [Spark 2.4.4 pre-built releases](https://archive.apache.org/dist/spark/spark-2.4.4/):

| File name                                     | Scala | Hadoop |
|-----------------------------------------------|-------|--------|
| spark-2.4.4-bin-without-hadoop.tgz

[2020-01-08 22:29] marc0der commented on #193
This could be handled in a simple way by using the version string. The max length is 15 so we could try using that. In other words something like `2.4.4_2.11_2.6`.

Sdkman is completely agnostic of the candidates it serves (except in the case of Java), and I really don't want to hack the core for candidate specific exceptions.

[2020-01-24 09:34] rubensa commented on #170
Totally agree.

In my user case I have a base **Docker** image with **sdkman** installed.  Then, for every project I have a **Dockerfile** based on that image that installs an **specific JDK version**.

The problem is when at a later time a new developer tries to build the docker image.  The build fails cause **the specific JDK version in no more available to sdkman**.

For example I have this Doc

[2020-01-24 10:16] rubensa commented on #170
Could be related to: https://github.com/sdkman/sdkman-candidates/issues/6

[2020-01-28 07:41] marc0der commented on #170
@rubensa Unfortunately we can't store all historic versions of Java JDKs due to the sheer volume of versions being released. Not only do we have frequent releases, but also many vendors releasing the same version.

Add to that the fact that sdkman is a developer tool first. For the sake of user experience I prefer not flooding the user with outdated versions when listing Java versions (we don't ha

[2020-01-28 07:51] marc0der commented on #170
Here's a thought. What we could do is add a new visibility flag in the database, so that when we run a database migration we don't actually delete from the db but simply mark it as `visible=false`. Then when rendering the java list view, we simply ignore historic versions. wdyt?

[2020-01-28 07:58] rubensa commented on #170
@marc0der The binaries are kept by sdkman infrastructure or are downloaded from third party source infrastructure?

- If sdkman then I understand.

- If thrid party then, I think, that you could keep the full list of historically available options but only show them if, for example, a **--all** flag is provided on listing (`sdk list --all java`).  In other case, only list "latest" versions (but ol

[2020-01-28 08:00] marc0der commented on #170
Yep, that was kinda what I was thinking. Please see my previous comment.

[2020-01-28 08:03] rubensa commented on #170
Sorry, was writing my answer and didn't see yours.

I'll try to help with that (but I'm busy too and had not time to look at the code of this project yet)

[2020-01-28 08:24] rubensa commented on #170
Ouch!!
I don't know Scala language...

Btw I think the needed steps to implement this functionality would be:

- Add **current** field to database
- Set **current** value to **true** for all existing data
- Update **cli** to not show **current=false** elements on listing
- Add flag **--all** to **cli** to show all elements on listing (despite **current** value)
- Change database migration process

[2020-01-28 08:47] marc0der commented on #170
No, current means something completely different in this context and is already a part of our domain language. I prefer visible, as it describes exactly what it is. Anyway, these are just implementation details.

We should also stick to the way that the CLI currently works for consistency so `--all` isn't going to fly. I prefer to stick to the same command based syntax as we currently us.

[2020-06-05 22:01] JSamir commented on #170
I just stumbled upon this issue after failing to install older versions. I think this is a very important and essential feature for anyone working in the enterprise world, where it is very often the case that we need some older Java version for whatever reason.

Are there any updates? For now i'll probably need to install the older versions manually...

[2020-06-29 22:09] steinybot opened #277 "Add latest dotty releases"
Dotty releases 0.23.0 and 0.24.0 need to be added.

[2020-06-30 06:40] marc0der commented on #277
Thanks for letting me know @steinybot. Feel free to raise a quick PR if you would like to see it added right away.

[2020-06-30 21:30] #277 closed

[2020-07-01 15:16] abcfy2 opened #280 "Please change AdoptOpenJDK openj9 to 64bit on Windows"
https://github.com/sdkman/sdkman-db-migrations/blob/006159dd03ade0c472d1a4828a1086ab688d6a5f/src/main/scala/io/sdkman/changelogs/java/AdoptOpenJdkMigrations.scala#L479

I find on Windows use

[code]

Will get 32bit version instead of 64bit.

[code]

You can see the download URL  redirect to 32bit version

[2020-07-01 15:18] marc0der commented on #280
Hi @abcfy2, yep seems like someone submitted the wrong binary. Feel free to raise a PR to fix this if you are able.

[2020-07-01 15:22] marc0der commented on #280
You should be able to use the existing db migration to do this:
https://github.com/sdkman/sdkman-db-migrations/blob/master/src/main/scala/io/sdkman/changelogs/java/AdoptOpenJdkMigrations.scala#L455-L488

It seems like only the windows version is affected.

[2020-07-01 16:44] abcfy2 commented on #280
OK. I've already raised a PR. But I don't know whether it can work. I'm not familiar with mongobee. Please check.

[2020-07-01 16:56] #280 closed

[2020-08-04 05:22] pere5 commented on #170
I disagree with "For the sake of user experience I prefer not flooding the user with outdated versions when listing Java versions". Precisely because as you say: "Add to that the fact that sdkman is a developer tool first."
We (developers) will not be confused by a list of versions, I promise. I also think this is an very important and essential feature since specific older versions are very hard

[2020-08-10 14:19] helpermethod opened #313 "Add mvndaemon 0.0.1"
As discussed in the `cli-development` slack channel, `mvnd` should be added as a candidate to SDKMAN!.

The corresponding `mvnd` issue mvndaemon/mvnd/issues/48.

[2020-09-03 09:15] #313 closed

[2020-09-07 18:18] eddumelendez opened #325 "Add migration for OpenJDK 15 GA"
In September 15, OpenJDK 15 will be General Available.

In order to contribute with this migration:

1. Pick the urls from https://jdk.java.net/15/
2. Remove code from previous change in [`OpenJdkMigrations`](https://github.com/sdkman/sdkman-db-migrations/blob/master/src/main/scala/io/sdkman/changelogs/java/OpenJdkMigrations.scala). number `071`
3. Add a new change with the right order. I guess it

[2020-09-14 02:03] eddumelendez opened #329 "Add migration for OpenJDK 16 EA 18"
In October 1st, OpenJDK 16 EA 18 will be Available.

In order to contribute with this migration:

1. Pick the urls from https://jdk.java.net/16/
2. Remove code from previous change in [`OpenJdkMigrations`](https://github.com/sdkman/sdkman-db-migrations/blob/master/src/main/scala/io/sdkman/changelogs/java/OpenJdkMigrations.scala).
3. Add a new change with the right order. I guess it will be `079`

[2020-09-14 02:03] eddumelendez opened #330 "Add migration for OpenJDK 16 EA 19"
In October 8th, OpenJDK 16 EA 19 will be Available.

In order to contribute with this migration:

1. Pick the urls from https://jdk.java.net/16/
2. Remove code from previous change in [`OpenJdkMigrations`](https://github.com/sdkman/sdkman-db-migrations/blob/master/src/main/scala/io/sdkman/changelogs/java/OpenJdkMigrations.scala).
3. Add a new change with the right order. I guess it will be `080`

[2020-09-14 02:03] eddumelendez opened #331 "Add migration for OpenJDK 16 EA 20"
In October 15th, OpenJDK 16 EA 20 will be Available.

In order to contribute with this migration:

1. Pick the urls from https://jdk.java.net/16/
2. Remove code from previous change in [`OpenJdkMigrations`](https://github.com/sdkman/sdkman-db-migrations/blob/master/src/main/scala/io/sdkman/changelogs/java/OpenJdkMigrations.scala).
3. Add a new change with the right order. I guess it will be `081`

[2020-09-14 02:03] eddumelendez opened #332 "Add migration for OpenJDK 16 EA 21"
In October 22nd, OpenJDK 16 EA 21 will be Available.

In order to contribute with this migration:

1. Pick the urls from https://jdk.java.net/16/
2. Remove code from previous change in [`OpenJdkMigrations`](https://github.com/sdkman/sdkman-db-migrations/blob/master/src/main/scala/io/sdkman/changelogs/java/OpenJdkMigrations.scala).
3. Add a new change with the right order. I guess it will be `082`

[2020-09-14 02:03] eddumelendez opened #333 "Add migration for OpenJDK 16 EA 22"
In October 29th, OpenJDK 16 EA 22 will be Available.

In order to contribute with this migration:

1. Pick the urls from https://jdk.java.net/16/
2. Remove code from previous change in [`OpenJdkMigrations`](https://github.com/sdkman/sdkman-db-migrations/blob/master/src/main/scala/io/sdkman/changelogs/java/OpenJdkMigrations.scala).
3. Add a new change with the right order. I guess it will be `083`

[2020-09-15 10:39] regadas opened #334 "Add migration to Dotty 0.27.0-RC1"

[2020-09-15 12:40] #334 closed

[2020-09-16 05:25] pveentjer commented on #170
No support for older versions is for the primary reason for me not to use this product. I need to be able to switch between different versions to check if a bug has been resolved, or what the performance implications are.

[2020-09-16 19:40] #325 closed

[2020-09-17 06:08] govi20 commented on #329
Hi, would like to work on this once EA 18 is available.

[2020-09-17 07:45] MatejNedic commented on #330
Hey, can I take this one when  OpenJDK 16 EA 19 gets out?

[2020-09-17 13:16] eddumelendez commented on #329
@govi20 it is yours! Thanks

[2020-09-17 13:16] eddumelendez commented on #330
@MatejNedic it is yours! thanks!

[2020-09-22 15:35] bassmake opened #344 "Add Ballerina Candidate"
This issue is based on https://github.com/sdkman/sdkman-cli/issues/791.
Ballerina website: https://ballerina.io/

[2020-09-23 08:31] #344 closed

[2020-09-24 02:59] monil commented on #331
I'll pick this up

[2020-09-24 14:44] eddumelendez commented on #331
@monil sure! the issue is yours!

[2020-09-26 10:02] TohidHeshmati commented on #332
Saw your tweet. Would be my pleasure to take this off your hand. (As my first Hacktober contribute ;) )

[2020-09-26 19:39] eddumelendez commented on #332
@TohidHeshmati great! the issue is yours

[2020-09-29 17:41] rfigueroa commented on #333
Hola @eddumelendez  I would like to work on this one if its ok?

[2020-09-29 17:43] eddumelendez commented on #333
@rfigueroa it is yours! thanks!

[2020-10-02 07:58] govi20 commented on #329
Hey @eddumelendez I have raised a PR for this change. Let me know if any changes are needed.

[2020-10-02 13:26] #329 closed

[2020-10-05 19:50] helpermethod opened #355 "Fix broken ZuluFX versions"
Due to a copy-paste error,

* Version 14.0.2 of ZuluFX does not exist
* Version 13.0.4 of ZuluFX points to a 14.0.2 binary

![image](https://user-images.githubusercontent.com/1562019/95124966-926a0100-0754-11eb-92a3-97f02ccdb420.png)

[2020-10-05 19:50] helpermethod commented on #355
PR incoming!

[2020-10-05 21:38] #355 closed

[2020-10-06 07:00] helpermethod opened #357 "Add hacktoberfest topic to repository"
See https://www.digitalocean.com/blog/announcing-hacktoberfest-2020.

# TLDR;

* Hacktoberfest in now opt-in.
* To opt-in, maintainers need to add the `hacktoberfest` topic to a repository.
* PRs will only count if labeled `hacktoberfest-accepted`.

[2020-10-08 20:41] #330 closed

[2020-10-09 12:32] helpermethod commented on #86
Hi, @cyparu,

this is certainly doable.

But I wonder if it wouldn't be better if Jetbrains themselves would upload new Kotlin Native versions via the Vendor API, like they already seem to do with Kotlin.

@marc0der What do you think?

[2020-10-11 18:59] eddumelendez opened #361 "Add Alibaba Dragonwell JDK"
[Alibaba Dragonwell](http://dragonwell-jdk.io/) is another JDK distribution.

Current support is for Linux for the versions below:

- 8 https://github.com/alibaba/dragonwell8/releases/tag/dragonwell-8.4.4_jdk8u262-ga
- 11 https://github.com/alibaba/dragonwell11/releases/tag/dragonwell-11.0.8.3_jdk-11.0.8-ga

[2020-10-11 18:59] eddumelendez commented on #361
@marc0der WDYT?

[2020-10-11 20:21] marc0der commented on #361
Looks good, although the Windows JDK8 might be problematic for now. The linux variants are tarballs so should work just fine.

[2020-10-11 21:04] helpermethod commented on #357
Hi @marc0der, hi @eddumelendez,

added the `hacktoberfest` topic to the repository.

[2020-10-11 21:04] #357 closed

[2020-10-12 07:22] helpermethod opened #365 "Add .sdkmanrc"
Because I can never remember which Java version I need to use to build `sdkman-db-migrations` and because eating your own dogfood is healthy, I propose to add an `.sdkmanrc` with the appropriate `java` version.

[2020-10-12 17:32] #365 closed

[2020-10-16 14:25] eddumelendez commented on #331
@monil any update on this? Are you still be able to submit the PR?

[2020-10-18 15:47] #331 closed

[2020-10-20 23:57] erikthered opened #374 "OpenJDK 11.0.8 Removed?"
This PR seems to have removed 11.0.8 from Java.net/OpenJDK: https://github.com/sdkman/sdkman-db-migrations/pull/371

It is now at 11.0.2. Was this intentional?

[2020-10-21 19:17] marc0der commented on #374
I believe that openjdk doesn't have an official 11.0.8 release, as they generally don't maintain legacy Java versions. Openjdk is more concerned with bleeding edge releases.

What you were seeing was the AdoptOpenJDK 11.0.8 erroneously released under openjdk. I suggest always using adopt, this also being the default installation on sdkman.

[2020-10-21 19:24] erikthered commented on #374
Thanks for the clarification. I did some research on this today and it does indeed seem to be the case.

[2020-10-21 19:24] #374 closed

[2020-10-23 12:43] #332 closed

[2020-10-23 22:48] #361 closed

[2020-10-26 12:50] matteocodogno opened #389 "Feature: [Install liquibase cli from sdkman]"
- [x] I have read the [CONTRIBUTING guidelines](CONTRIBUTING.md)

**Feature request**

It would be nice if it was possible to install [liquibase cli](https://www.liquibase.org/download) from **sdkman**.
Liquibase is super useful tool to handle database versioning (migrations) in java programs.

Cheers

[2020-10-27 07:55] helpermethod commented on #170
@marc0der I would like to tackle this one.

[2020-10-27 08:28] aivantsov opened #393 "Bug: [Invalid default candidate for Java]"
**Bug report**

Cannot install a default java version

**To reproduce**

[code]

The SDK API call is returning a wrong version:

[code]

The expected version should be
[code]

**System info**

OS:
[code]
Shell
[code]

SDK version
[code]

[2020-10-28 08:54] aivantsov commented on #393
The api is now returning a new valid java version
[code]

closed

[2020-10-28 08:54] #393 closed

[2020-10-28 11:41] helpermethod opened #396 "Create compound index for `versions` collection"
Performance for most queries against the `versions` collection could be greatly improved by creating a compound index with fields `candidate` and `platform`.

[2020-10-28 14:29] helpermethod commented on #396
Sorry for reopening, the changelog versions I chose was already taken 😢 .

[2020-10-29 19:44] helpermethod opened #399 "Add "visible" field to "versions" collection with default value "true""
In order to allow `soft-deletes` a `visible` flag should be added to the `versions` collection.
If code in the sdkman/sdk-candidates project breaks due to the schema change, it should  be fixed in a way to stay backwards-compatible (i.e. no visible change to the behaviour).

This is the first step in resolving #170.

[2020-10-29 19:50] marc0der commented on #399
An alternative to consider is to make this field optional, having its default set to `true`. That means that we only need to mark the field as `visible=false` as required explicitly.

[2020-10-29 19:56] helpermethod commented on #399
@marc0der That's exactly what I had in mind 😄 .

[2020-10-31 01:51] eddumelendez commented on #333
@rfigueroa are you able to send the PR?

[2020-10-31 03:24] rfigueroa commented on #333
I just sent this https://github.com/sdkman/sdkman-db-migrations/pull/401, thanks for the reminder

[2020-10-31 05:26] #333 closed

[2020-10-31 08:35] #399 closed

[2020-11-11 16:36] rfigueroa commented on #389
@marc0der  Can I help with this one ?

[2020-11-11 16:41] rfigueroa opened #414 "feature: add support for installing flyway"
Since sdkman may start to support liquidbase to https://github.com/sdkman/sdkman-db-migrations/issues/389, flyway could also be a candidate

[2020-11-11 17:04] marc0der commented on #414
@rfigueroa This can be done with some simple database migrations on our sdkman-db-migrations project if you are up for a challenge.

[2020-11-13 22:48] helpermethod commented on #414
Hi, @rfigueroa,

Sadly the `flyway` tar has the same problem as the `liquibase` tar, i.e. no `bin` folder underneath the root folder.

[2020-11-14 02:14] rfigueroa commented on #414
How can asoman handle this scenario?

[2020-11-15 20:31] helpermethod commented on #414
Sadly there's not much that SDKMAN! can do here. You best bet would be to open an issue in Liquibase repository. They may be open to change the TAR's structure to be compatible with SDKMAN!.

[2020-11-19 09:52] morki opened #429 "Error publishing GraalVM 20.3"
There was an error in Travis build and GraalVM 20.3. is not available to install by SDKMAN.

[2020-11-19 13:56] marc0der commented on #429
@eddumelendez It seems like there is a problem with the [GraalVM 20.3.0 OSX link](https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-20.3.0/graalvm-ce-java11-darwin-amd64-20.3.0-signed.tar.gz).

[2020-11-19 15:12] eddumelendez commented on #429
this is fixed now

[2020-11-19 15:12] #429 closed

[2020-11-24 20:27] christoph-frick opened #434 "Bug: (At least) Leiningen "lesser" version considered higher than current version (2.9.4 < 2.9.3-1) on upgrade"
**Bug report**

Having the most recent version (2.9.4) of `leiningen` installed, the `sdk ug` script suggests "upgrading" to 2.9.3-1.

**To reproduce**

Installation of most current `leiningen` version present:

[code]

Attempting to upgrade:

[code]

Expected: there is no need to update

**Suspects**

- Version check is wrong and somewhat favours the trailing `-1` as an higher version
- Somehow t

[2020-11-24 20:59] christoph-frick commented on #434
@marc0der For me as "end user", there is no way to find that out, right? Would you be OK with me raising a feature request to mark the considered default.  E.g. `# default version`?

[2020-12-13 19:31] christoph-frick commented on #434
2.9.5 solved the problem

[2020-12-13 19:31] #434 closed

[2020-12-13 19:46] marc0der commented on #434
Hi @christoph-frick, sorry for not seeing your subsequent message. Everything is documented in the readme of the database migration project. Making a change likes this is simple and can be achieved by submitting a trivial PR here.

[2020-12-17 08:31] cmoulliard commented on #170
In the meantime I installed the AdoptOpenJDK release which still contains Java 8 `sdk install java 8.0.275.hs-adpt`

[2020-12-17 19:32] Eugenio-Liso opened #443 "Add support for older Scala versions"
Hi all!

Right now, SDKMAN! supports Scala SDK versions starting from 2.11.0. Since there are a lot of projects out there that are still using older versions, is that possible to add support for 2.10.X?

I think that should be enough, since the latest 2.9.X version (2.9.3) has been tagged in 2013, so it's pretty old.

[2020-12-17 20:20] marc0der commented on #443
Hi @Eugenio-Liso, the more versions the merrier. Please feel free to add them by raising a PR on this project.

[2020-12-21 08:29] helpermethod opened #445 "Add support for getting Java version series"
In order to hide older versions of a version series (e.g. all Java `11`, Java `8`, Java `9` versions) a new method should be provided which, when given

* a `platform`
* a `majorVersion` (e.g. 11)
* a `vendorSuffix` (e.g. `zulu-fx`, `zulu`)

returns a list of `previous` versions, which can then be `hidden`.

[2020-12-21 18:25] marc0der commented on #445
Is candidate relevant here? Java is the only candidate that works in this way and requires hiding. Wdyt?

[2020-12-21 20:52] helpermethod commented on #445
Correct.

[2020-12-22 11:07] helpermethod commented on #445
Sorry, this should be part of `sdkman-mongodb-persistence`.

[2020-12-22 11:18] #445 closed

[2020-12-23 08:33] eddumelendez commented on #170
Good news everyone! Started couple of days ago but we are currently hiding versions instead of removing them. See #444 There is a new method `hideVersion`. So, now we will not break local environments or CI/CD pipelines.

Thank you so much @helpermethod to make this happen in the backend services.

[2020-12-23 08:33] #170 closed

[2021-01-06 16:47] kkeker opened #451 "Feature: [Ballerina.io (BVM/JBallerina) Support]"
- [+] I have read the [CONTRIBUTING guidelines](CONTRIBUTING.md)

**Feature request**

Please add the [Ballerina.IO](https://ballerina.io) toolkit installation. This is a kind of metalanguage (like Scala or Kotlin) on top of the JVM and it would be logical if SDKMan would support the Ballerina.IO installation.

[2021-01-14 09:40] helpermethod commented on #86
Hi @cyparu,

if you want to make this happen please upvote https://youtrack.jetbrains.com/issue/KT-44288.

[2021-01-25 08:50] helpermethod commented on #86
Had a little conversation with the JB guys and the gist is that Kotlin Native is currently not in a state
where it makes sense to use it outside of Gradle, but they may reconsider it in the future.

https://youtrack.jetbrains.com/issue/KT-44288

[2021-01-25 08:50] #86 closed

[2021-01-25 08:54] helpermethod commented on #451
Hi @kkeker,

Ballerina is already part of SDKMAN!, though it's currently missing the latest stable release.

[code]

[2021-01-25 09:53] kkeker commented on #451
But the database is not updated.
There is only one release candidate.
There is no stable version or other release candidates.

[2021-01-25 13:47] marc0der commented on #451
@kkeker If you need other versions, please feel free to add it yourself by raising a PR against this repo. All instructions can be found in the README.md.

[2021-01-25 13:47] #451 closed

[2021-01-27 18:08] mjustin commented on #170
This is great! Is there any way to view what hidden versions are available?

[2021-02-04 11:51] domdorn commented on #33
Is the only thing blocking this, that ammonite is downloaded directly as a binary and not packaged in a zipfile?
Homebrew handles it like this
https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/ammonite-repl.rb

[2021-02-12 08:45] martin-jamszolik opened #465 "Feature: JetBrains Runtime variant for Java11"
**Feature request**
JetBrains is maintaining an excellent variant of Java11 and Java8 with fixes for desktop and GUI application to help with Subpixel Anti-Aliasing, enhanced font rendering on Linux, HiDPI support, ligatures among few other fixes.

https://confluence.jetbrains.com/display/JBR/JetBrains+Runtime

Did this project ever consider listing JBR as an option?
Thank you!

[2021-02-12 14:42] marc0der commented on #465
@eddumelendez does the Disco API have any knowledge of this JDK distribution? If so, maybe we could automate this.

If not, it could always be added with a PR on this repo @martin-jamszolik. Please see the README for more details.

[2021-02-13 02:24] eddumelendez commented on #465
I don't think it is provided by Disco API because this one is not certified. not sure how often people use it. From the link shared we can read

[2021-02-16 20:51] richvim opened #471 "Bug: Sorting Is Incorrect In Some Instances"
**Bug report**

For GraalVM, version `21.0.0.r11` is ranked before `21.0.0.2.r11`, which was released [after](https://github.com/graalvm/graalvm-ce-builds/releases) it. I'm guessing the sorting algorithm is having an issue with the extra `.2.`, which should indicate recency but isn't being interpreted that way.

[code]

**To reproduce**

Simply `sdk list java`.

**System info**
Latest OSX.

[2021-03-24 14:20] ouryperd opened #488 "Feature: [JRuby support]"
- [x] I have read the [CONTRIBUTING guidelines](CONTRIBUTING.md)

**Feature request**

Add support for installing Juby in sdkman. JRuby is a JVM language like Groovy and Kotlin and can benefit from being installable via sdkman

[2021-03-25 18:05] ouryperd opened #489 "Feature: [Jython support in sdkman]"
- [x] I have read the [CONTRIBUTING guidelines](CONTRIBUTING.md)

**Feature request**

Add support for installing Jython in sdkman. Jython is a JVM language like Groovy and Kotlin and can benefit from being installable via sdkman.

[2021-04-08 17:56] chkpnt opened #494 "Download is failing, why?"
I'm trying to figure out, why a download is failing. In my case, it's about the installation of "java 16-sapmchn".

[code]

I haven't found a debug mode in SDKMAN!, so I tried to understand this repository to find the corresponding download url. I've found [SapMachineMigrations.scala](../blob/master/src/main/scala/io/sdkman/changelogs/java/SapMachineMigrations.scala), but I don't get it: there is

[2021-04-09 11:01] marc0der commented on #494
I've just managed to install it without any issues, could it be a network problem?
Please feel free to chat with us on Slack if the problem persists.

[2021-04-09 11:01] #494 closed

[2021-04-14 13:58] norrisjeremy opened #496 "Bug: Sap Machine OpenJDK fails to install"
**Bug report**

None of the Sap Machine OpenJDK distros appear to be installable.

**To reproduce**

[code]

**System info**

[code]

[2021-04-14 21:49] marc0der commented on #496
Thanks for reporting this, @norrisjeremy. Perhaps @eddumelendez can advise on this as he is the curator of Java on SDKMAN.

[2021-04-14 21:58] eddumelendez commented on #496
thanks @norrisjeremy for the report! last week I noticed it but couldn't fix it. I will look for some time to fix it this week. This is only happening for macos.

[2021-04-14 22:00] marc0der commented on #496
Could it be due to an irregular internal structure of the binaries?

[2021-04-14 22:14] norrisjeremy commented on #496
I think the problem is that they are `.dmg` files, but SDKMAN attempts to treat them as `.tar.gz` files:
[code]

[2021-04-14 22:24] marc0der commented on #496
I see. If they choose to force such packaging on their users we won't be able to support them any longer on sdkman.

[2021-04-14 22:25] marc0der commented on #496
WDYT, shall we pull the osx versions @eddumelendez?

[2021-04-14 22:26] norrisjeremy commented on #496
Have you considered contacting them? They openly advertise SDKMAN as an installation method. See https://github.com/SAP/SapMachine/wiki/Installation#-sdkman

[2021-04-14 22:29] norrisjeremy commented on #496
FYI, they do appear to still offer .tar.gz downloads:

https://github.com/SAP/SapMachine/releases/download/sapmachine-16/sapmachine-jdk-16_osx-x64_bin.tar.gz

https://github.com/SAP/SapMachine/releases/download/sapmachine-15.0.2/sapmachine-jdk-15.0.2_osx-x64_bin.tar.gz

https://github.com/SAP/SapMachine/releases/download/sapmachine-11.0.10/sapmachine-jdk-11.0.10_osx-x64_bin.tar.gz

The problem see

[2021-04-14 22:31] eddumelendez commented on #496
currently, I am using this https://sap.github.io/SapMachine/assets/data/sapmachine_releases.json to get the bin but looks like it is returning just the dmg. However the release contains all binaries https://github.com/SAP/SapMachine/releases/tag/sapmachine-16 . I have also check foojay api and `tar.gz` is returned. Foojay integration is almost done so I think in the future we will not have those i

[2021-04-15 06:38] marc0der commented on #496
@eddumelendez if we can get the patch functionality reviewed and approved you could do it through the API instead. You could be the first to try it out, wdyt?

[2021-04-15 20:59] eddumelendez commented on #496
urls for sapmacahine were fixed.

[2021-04-24 05:32] iemejia opened #502 "Feature: Add Apache Ant 1.10.10"
- [x] I have read the [CONTRIBUTING guidelines](CONTRIBUTING.md)

**Feature request**

[2021-04-24 07:36] helpermethod commented on #502
Hi @iemejia!

I've moved your issue to the `sdkman-db-migrations` project.

This is the place where users can contribute new versions or candidates.
Instructions for adding a new version can be found in the README.

If you have any questions, feel free to ask!

[2021-04-24 08:23] iemejia commented on #502
Thanks @helpermethod opened #503 can you help me review it or find someone who can, thanks!

[2021-04-24 11:11] #502 closed

[2021-05-17 09:39] helpermethod opened #509 "Feature: Add Scala 3.0.0"
Scala 3.0.0 has been [released](https://github.com/lampepfl/dotty/releases/tag/3.0.0)!

[2021-05-17 11:40] #509 closed

[2021-05-18 10:01] helpermethod opened #511 "Feature: Add Scala 2.13.6"
Scala 2.13.6 has been released!

[2021-05-18 18:34] #511 closed

[2021-05-22 15:57] rfigueroa commented on #414
since the flyway team give a good reason for not having a bin folder, and the same could be said for the liquidbase distribution tar, are there options on sdkman on how to handle these scenarios ?

[2021-05-22 16:11] marc0der commented on #414
The industry standard for JVM related SDK distributions is to have the same layout as the JDK does. We rely on this as a sensible default. We do support some outliers like JMC, but much work and testing goes into making this work.

If you feel very strongly about this and are up for the challenge, please chat to me on Slack so I can give you some pointers.

[2021-05-28 08:12] helpermethod opened #515 "Add Kotlin Interactive (ki) shell"
It would be nice add ki as a candidate to SDKMAN!.

https://github.com/Kotlin/kotlin-interactive-shell

[2021-06-08 19:57] michaelabuckley opened #517 "Bug: Azul 16.0.1 on java/darwinarm64 is stale. Needs update to build 30+19 for macOS 11.4"
**Bug report**

The java 16.0.1-zulu version installed on Mac arm fails to start on Mac 11.4

I can't tell from your docs who is responsible for updating your files. Is Azul is managing their release, or do you have a data side?  Sorry if this is the wrong target.  I've let them know too.

Caused by https://bugs.openjdk.java.net/browse/JDK-8267235 upstream.

**To reproduce**

- `sdk install java 1

[2021-06-28 12:08] sideeffffect opened #520 "Consider using Disco API for JDKs metadata"
The foojay Disco API is a general purpose API to discover builds of OpenJDK from different distributions.
It should allow for automation instead of manually maintaining own metadata.
https://github.com/foojay2020/discoapi

[2021-06-28 12:12] marc0der commented on #520
Hi @sideeffffect, we are already using the Disco API for all our JDK releases.

[2021-06-28 12:13] sideeffffect commented on #520
Oh, that's good to hear! I tried to look around the source code of some of the SDKMAN repositories, but it wasn't obvious to me.
:+1:

[2021-06-28 12:15] #520 closed

[2021-07-06 16:49] marc0der commented on #488
@ouryperd did not hear anything back so closing this issue for now.

[2021-07-06 16:49] #488 closed

[2021-07-19 14:56] #414 closed

[2021-07-22 15:08] eddumelendez commented on #517
@michaelabuckley can you check again? binaries were updated for zulu arm

[2021-07-22 15:13] eddumelendez commented on #496
sadly, we are taking as a source of truth [this file](https://sap.github.io/SapMachine/assets/data/sapmachine_releases.json) which provides dmg. I will fix this later today to add the `tar.gz` Add fix the root cause hopefully at the end of this week.

[2021-07-22 18:54] michaelabuckley commented on #517
Works after uninstall, flush, and install.  Couldn't figure out how to upgrade an installed version.

Matches my copy of the April 20 .pkg
[code]

[2021-07-22 18:54] #517 closed

[2021-07-23 00:56] eddumelendez commented on #496
now the right binary should be installed.

[2021-07-23 06:55] emartynov commented on #517
The same feedback I want to give is that I have to flush before getting a new build. Can SDK check the checksum also for updating the same version binaries?

[2021-07-28 10:27] norrisjeremy commented on #496
FYI, the new 16.0.2 OpenJDK release from Sap Machine is failing to install, in the exact same manner as previously noted with earlier releases:
[code]

Examining the file downloaded in the .sdkman/tmp/java-16.0.2-sapmchn.bin directory reveals that it is once again downloading a .dmg image instead of a .tar.gz.

[2021-07-28 16:15] eddumelendez commented on #496
url updated.

[2021-08-12 19:18] #443 closed

[2021-08-12 19:58] helpermethod opened #530 "Feature: Add Connor candidate"
Add [Connor](https://github.com/helpermethod/connor) candidate.

[2021-08-12 20:03] marc0der commented on #530
Just do it 😄

[2021-08-13 10:15] #530 closed

[2021-08-14 10:40] huaichengliu opened #532 "Bug: ["sdk list java" returns empty result on Raspberry Pi]"
**Bug report**

When running `sdk ls java`, an empty result is returned on Raspberry Pi @ Raspberry Pi OS 10 Buster

**To reproduce**

- sdkman installed as per instruction.
- `sdk ls java` returns empty list.
- However, other candidates like `sdk ls maven` and `sdk ls kotlin` are normal.

Java:
[code]

Kotlin:
[code]

**System info**

- OS: Raspberry Pi OS 10 Buster (Lite version)
- Shell and ver

[2021-08-14 11:34] huaichengliu commented on #532
@marc0der Thanks for your reply, Marco.

Mine is a Pi Model 3B, it has a BCM2837 64 bit processor, but by default Raspberry Pi OS comes in 32 bit.

Output from `uname -a`
[code]

[2021-08-15 18:36] huaichengliu commented on #532
As this seems not to be a bug with sdkman, but rather a lack of binaires in the DB, should I close this issue and re-submit it as a feature request? Sorry, I am quite new to Github.

[2021-08-15 18:39] marc0der commented on #532
Hi @huaichengliu, don't worry. I've already moved this issue to the sdkman-db-migrations project where it will be picked up.

[2021-08-15 21:31] helpermethod opened #537 "Feature: Add Scala 3.0.1"

[2021-08-16 16:49] #537 closed

[2021-08-18 20:55] marc0der commented on #537
Probably no need to open issues on the DB migration project for small things like this. WDYT?

[2021-08-18 21:00] helpermethod commented on #537
Agreed, a PR would have probably been sufficient 😁

[2021-08-23 22:11] hgeraldino opened #540 "Add checksums to versions"
Adding this issue to track the work required on the db-migrations module to support https://github.com/sdkman/sdkman-cli/issues/945

[2021-08-24 20:57] marc0der commented on #540
Happy that this is happening!

I'd suggest we chat on Slack prior to kicking of individual pieces of work. That way I can guide you in the optimal way of doing things in the backend, which should hopefully save you some time in implementing this. You've also probably noticed that we're big on testing, so we expect most pieces of functionality to be covered somehow.

[2021-09-10 15:10] SethTisue opened #543 "Regression: Java 17 early access builds are no longer available"
I'm experiencing this on both Linux and macOS. Something changed within the last week or so -- it was working before.

A Linux example is https://app.travis-ci.com/github/scala/scala-xml/jobs/536511441 where `sdk list java` only shows `17.ea.3.pma` which is unsuitable (it's a Project Panama build). Until recently, `17.ea.28` was one of the choices offered.

The same thing happens for me on macOS;

[2021-09-14 14:39] eddumelendez commented on #543
java 17 has been released and it's available now via sdkman. There is an issue on my side when openjdk enters to RC phase, I will fix it for the java 18.

[2021-09-14 14:39] #543 closed

[2021-09-14 14:41] justhecuke opened #544 "Bug: GraalVM list missing macos java8 artifact"
**Bug report**
Recent releases of GraalVM CE do not have a macos version for java8 due to maintenance issues. The most recent release is 21.0.0.2 (https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-21.0.0.2) but it appears sdkman does not track that older release and, instead, has dropped it.

As of now, despite GraalVM CE having a macos java8 version, sdkman has no ability to allow maco

[2021-09-14 17:56] norrisjeremy commented on #496
FYI, the new 17.0 OpenJDK release from Sap Machine is failing to install, in the exact same manner as previously noted with earlier releases:
[code]

Examining the file downloaded in the `.sdkman/tmp/java-17-sapmchn.bin` directory reveals that it is once again downloading a `.dmg` image instead of a `.tar.gz`.

[2021-09-14 18:22] eddumelendez commented on #496
fixed! sorry about still having this issue with sapmachine.

[2021-09-14 18:30] norrisjeremy commented on #496
No problem, thanks! :)

[2021-09-15 10:00] volphy opened #545 "Bug: Amazon Corretto 17 is not visible in the list of available Java versions"
I cannot see any Amazon Corretto 17 Java version in the output of the following command:
[code]

The tar.gz file is available from the GitHub releases page:
https://github.com/corretto/corretto-17/releases/tag/17.0.0.35.1
-> https://corretto.aws/downloads/resources/17.0.0.35.1/amazon-corretto-17.0.0.35.1-linux-x64.tar.gz

System info:
- OS: MS Windows 10 Version 1809 + Windows Subsystem for Linux

[2021-09-15 13:27] marc0der commented on #545
Hi @volphy, in future, please chat to us on the SDKMAN Slack before opening issues (as per the contributing guidelines and the template that you deleted). This saves us a lot of time dealing with issues that aren't real bugs, like this one.

Looking at the [Corretto download page](https://aws.amazon.com/corretto/), I see that Amazon hasn't officially released JDK 17 yet. Corretto JDK 17 will appea

[2021-09-15 13:27] #545 closed

[2021-09-16 17:46] Maldivia opened #546 "Feature: Re-evaluate sdkman_rosetta2_compatbile now that Java 17 is released"
- [X] I have read the [CONTRIBUTING guidelines](CONTRIBUTING.md)

**Feature request**

Now that Java 17 and JEP391 has been released and more vendors provide native macOS/aarch64 builds, perhaps it's time to reevaluate and have sdkman_rosetta2_compatbile default to false instead of true?

[2021-09-16 17:49] marc0der commented on #546
How do you feel about this @eddumelendez? I assume most people are still on Java 8 and 11, so how will all these people be affected?

[2021-09-17 00:18] eddumelendez commented on #546
IMHO, we can proceed with this in the next weeks given opportunity to all vendor to submit Java 17. Just let's make sure we are sending the message to all users somehow.

[2021-09-20 21:27] az82 opened #548 "Bug: sdk list java does not show Eclipse Adoptium / AdoptOpenJDK JDKs"
**Bug report**

`sdk list java` with SDKMAN 5.12.4 on macOs Big Sur does not show the Eclipse Adoptium / AdoptOpenJDK JDKs. Even installed JDKs are not shown.

Output of `sdk list java`:
[code]

Installed JDKS:
[code]

**To reproduce**

Run `sdk list java` with SDKMAN 5.12.4 on macOs Big Sur

**System info**

- SDKMAN 5.12.4
- macOs Big Sur 11.5.2
- zsh 5.8 (x86_64-apple-darwin19.6.0)

[2021-09-20 22:13] marc0der commented on #548
@eddumelendez it seems like we might have a bug on our hands, as the versions of `-adpt` are no longer showing, even though they are still installed locally.

@az82 thank you for reporting this, we'll definitely take a peek into this and try to get this resolved soon.

@mackatozis just a reminder that the software and the service we provide is free for everyone to use but comes with _zero_ guarant

[2021-09-21 09:31] marc0der commented on #548
I've done some digging this morning and have [found the issue](https://github.com/sdkman/sdkman-candidates/blob/59d5e0a907df78a7d6d7fd52a233cf29605cb119/app/controllers/JavaListController.scala#L25).

@eddumelendez We only include vendors who have visible versions available. The short term fix would be to keep all the latest AdoptOpenJDK versions visible until we can roll out a fix for this.

[2021-09-21 14:39] az82 commented on #548
Works for me, `sdk list` now shows the installed jdks again. Thanks!

[2021-09-21 16:29] marc0der commented on #548
I'll write the blog post tonight as well as update the website. Apologies for my tardiness but I'm away on holiday at the moment.

[2021-09-22 09:16] marc0der commented on #548
The [blog post](https://medium.com/@sdkman_/adoptopenjdk-is-dead-long-live-eclipse-adoptium-4f2677ca935a) has been written, so this should clarify things for everyone.

Sorry for bouncing this issue around, but it should be moved to the sdkman-candidates project where the changes are to be made.

[2021-11-04 05:32] norrisjeremy opened #556 "Microsoft Java 13.0.13-ms version incorrect"
The `13.0.13-ms` Microsoft Java version is incorrect and actually should be `11.0.13-ms`:

[code]

[2021-11-09 10:28] norrisjeremy commented on #556
Ping?

[2021-11-09 16:06] eddumelendez commented on #556
thanks for the report! fixed!

[2021-11-09 16:06] #556 closed

[2021-11-26 17:33] jovezhong opened #561 "Bug: fail to sdk install flink"
**Bug report**
Cannot run `sdk install flink` since 1.14.0 is not available.
Workaround: use `sdk install flink 1.12.2`

**To reproduce**

`sdk install flink`

**System info**

zsh 5.8 (x86_64-apple-darwin21.0)

[2021-12-10 14:57] shipilev opened #565 "Bug: Misattributed Java.net 8u/11u builds"
**Bug report**

If you look at the current `sdk java list` here, then you would see the `11.0.10` ... `11.0.12` releases for the "Java.net" vendor:

[code]

But where do those binaries came from? There is no `11.0.10`...`11.0.12` in the [jdk.java.net Archive](https://jdk.java.net/archive/). Same goes for `8.0.265`...`8.0.302`.

These binaries have the metadata of OpenJDK builds:

[code]

...and th

[2021-12-10 16:25] marc0der commented on #565
I'm moving this to db migrations for now so that @eddumelendez can pick this up.

[2021-12-15 15:52] eddumelendez commented on #565
@shipilev thanks for reporting this one and glad someone who can help us figure it out how to solve this. For more context see [here](https://github.com/sdkman/sdkman-db-migrations/pull/412). I just realized those builds are provided by Red Hat and previously there was a lot of confusion so we moved them from `*-open-adpt` to `*-open`. Make sense to move them to `*-redhat`? I am wondering it this

[2021-12-19 07:19] maxandersen opened #566 "chang J'Bang to JBang"
I would like to get the J'Bang name updated to JBang as I did that everywhere else already but I'm not spotting how to do so in the migrations.

Any pointers would be great and I'll make a PR.

[2021-12-19 15:28] marc0der commented on #566
That has now been corrected @maxandersen

I left you DM in the SDKMAN Slack some time ago. Would you mind responding if you have a minute?

[2021-12-19 17:49] maxandersen commented on #566
Great! It's still listed in description with J'Bang - not a biggie but JBang would be more consistent.

[2021-12-20 08:21] #566 closed

[2022-01-14 03:47] christianhujer opened #577 "Bug: Latest version of Kotlin is 1.6.10 but SDKMAN! shows 1.6.0."
**Bug report**
The latest version of Kotlin is somehow not available through SDKMAN!

**To reproduce**
`sdk list kotlin`
Expected output: A list containing version 1.6.10.
Actual output: A list where the highest version number is 1.6.0 and 1.6.10 is missing.

**System info**
- OS: Linux, Kubuntu 20.04.3 LTS
- Shell: GNU bash 5.0.17(1)-release (x86_64-pc-linux-gnu)
- SDKMAN!: SDKMAN 5.13.1

**Other

[2022-01-15 09:23] helpermethod commented on #577
Kotlin 1.6.10 is now available on SDKMAN!.

[2022-01-15 09:24] #577 closed

[2022-01-19 11:17] norrisjeremy commented on #496
This is happening yet again with the new 17.0.2 & 11.0.14 releases. Is there a plan to ever fix this permanently, or will I always be required to respond to this issue to trigger somebody to manually correct the problem?

[2022-01-19 13:14] montoyaedu commented on #496
Hello,

It is happening also with 11.0.12-open

[code]

[2022-01-19 17:49] eddumelendez commented on #496
@montoyaedu we don't have any record for `11.0.12-open` for MACOS.

@norrisjeremy no, I am aware of the issue and I am following the releases in order to fix them ASAP. The release for version 11 was early this morning and I was waiting for that. If you try again you will be able to get the right zip now. Sorry this is bothering you, I have had enough time to work on a fix and take into account th

[2022-01-19 21:04] marc0der commented on #496
Thanks, @eddumelendez. I think it's preferable to disable these releases for Mac until you have a working fix in place. I'd prefer that above having broken binaries distributed. wdyt?

[2022-01-19 21:18] eddumelendez commented on #496
agree!

[2022-01-27 16:30] xshyamx opened #581 "[Question] Removed migrations during cleanup"
Hi,

A lot of migrations were cleaned up during this commit   [801f6d4](https://github.com/sdkman/sdkman-db-migrations/commit/801f6d4ae5ed9a5fd2de4713cc19a76c5b432f06). Is it required to add all removed versions when adding a new version? Or it is sufficient to add just the new versions for the candidate?

Is this [PR](https://github.com/sdkman/sdkman-db-migrations/compare/master...xshyamx:jmeter-

[2022-01-27 19:21] marc0der commented on #581
Hi @xshyamx, unfortunately this won't work as the changeset number always needs to be unique across each changelog.

You can read about how Mongobee works on their [project page] (https://github.com/mongobee/mongobee).

[2022-01-28 05:50] xshyamx commented on #581
Thanks. Will change the PR accordingly

[2022-01-28 05:50] #581 closed

[2022-01-31 22:46] sechastain opened #584 "Feature: Support for Alpine and Arch"

[2022-02-01 09:58] marc0der commented on #584
@sechastain That's a bit harsh. I think your requirement is only a tiny segment of our total user base. The vast majority of our users don't use Alpine. That said, we can certainly do some work around supporting musl.

[2022-02-01 12:42] sechastain commented on #584
Sorry - I only meant that in the context of Alpine.

To be clear, it installs and runs fine.

But the things it installs does not work, and, in that sense, it is useless
- possibly worse than useless because the user gets the illusion that
things have been done as the user has requested, but then none of those
installed things work.

At any rate, I appreciate you looking into it!

On Tue, Feb 1, 2

[2022-02-01 13:10] helpermethod commented on #561
Hi @jovezhong!

Flink 1.14.0 seems to install just fine.

![image](https://user-images.githubusercontent.com/1562019/151974244-ec786fb1-b8d2-4035-b8ab-4d50b4e17e54.png)

[2022-02-01 17:30] marc0der commented on #561
I've also just installed it on Linux and have no problem. Although, AFAIK this is a universal binary, so should not be affected by the platform.

[2022-02-21 21:48] eddumelendez commented on #496
`sapmachine` is proving the right resources in a standard format. see https://github.com/SAP/SapMachine/issues/1024

I think we can close this ticket

[2022-02-21 21:48] #496 closed

[2022-03-23 14:36] adacaccia commented on #496
But it fails for Temurin 11 also, and on Linux Ubuntu 21.04!

[code]
Looking at that "tmp" folder, shows all of my failed attempts to get some sort of java sdk for Scala working:

[code]
I am using standard regular bash as shell, either.
Where to look to dig deeper?

[2022-05-03 11:57] norrisjeremy opened #596 "Missing SapMachine & Zulu Java releases"
The following Java releases appear to be missing even though they have been out for awhile:

1. SapMachine 17.0.3.0.1
2. SapMachine 11.0.15.0.1
3. Zulu 18.0.1

When will these be made available for installation by SDKMAN?

[2022-06-17 12:52] xshyamx opened #600 "Feature: Update candidate versions"
Update candidate versions to the latest available for

1. activemq
2. jmeter
3. mybatis

[2022-06-17 17:03] #600 closed

[2022-10-03 23:19] wellingtonpaim commented on #496
`wellington@wellington-Lenovo-G50-80:~$ sdk install java 19-open

Downloading: java 19-open

In progress...

Warning: Failed to open /home/wellington/.sdkman/tmp/java-19-open.headers.tmp
curl: (23) Failed writing received data to disk/application
grep: /home/wellington/.sdkman/tmp/java-19-open.headers.tmp: Arquivo ou diretório inexistente
Download has failed, aborting!

Can not install java 19-ope